#centerer {
    margin: 0px auto;
    width: 800px;
}

h1 {
    display: block;
    text-align: center;
    margin: -3px auto 5px auto;
}

#canvas {
    margin: 0px auto;
    outline: 1px solid black;
    cursor: pointer;
}

tr {
    height: 24px;
}

.button {
    display: inline-block;
    text-align: center;
    background: #CCCCCC;
    padding: 0px 5px;
    padding-bottom: 2px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.group {
    width: 30px;
    margin: 1px 0px -1px -1px;
    border-radius: 0px;
}

.group:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 10px;
}

.group:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 10px;
}

.active {
    background: #EEEEEE;
}

.active:hover {
    background: #EEEEF7;
}

#meta{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

#fps{
    display: inline-block;
    text-align: left;
    width:23px;
}